{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    {% include 'account/snippets/pattern_style.html' %}
    <h1>{% trans "Confirm E-mail Address" %}</h1>

    {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
            <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
            .{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit">{% trans 'Confirm' %}</button>
        </form>

    {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}Срок действия этой ссылки для подтверждения по электронной почте истек или она недействительна.
            <a href="{{ email_url }}">Отправить новый запрос подтверждения по электронной почте</a>.{% endblocktrans %}</p>

    {% endif %}
    {% include 'account/snippets/pattern_style_close.html' %}
{% endblock %}
