.idea
/VirtualEnvironment
pyvenv.cfg
Lib
/newvenv39/
Scripts/

/db.sqlite3
*/security_settings.py
/fixtures/archive/
/practice.py
/practice.html
/Doc.txt

/cache/
/log/
/media/
/static/admin/
/static/ckeditor/
/static/mptt/
/static/modeltranslation/
/static/debug_toolbar
/static/rest_framework
/Blog/migrations/
/Interactive/migrations/
/Shop/migrations/
