.idea
/VirtualEnvironment
pyvenv.cfg
/db.sqlite3
*/security_settings.py
Lib
/media/
/static/admin/
/static/ckeditor/
/static/mptt/
/Blog/migrations/
/Interactive/migrations/
/Shop/migrations/
/newvenv39/
/practice.py
/practice.html
/Doc.txt
/fixtures/archive/path_to_files.py