{% extends 'pages/base.html' %}

{% load static %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="container">
    <form method="get" action="{% url 'search' %}">
        <div class="search_box" style="margin-left: 5%">
            <input name="s" type="text" placeholder="Поиск по новостям..."/>
        </div>
    </form>

        <div class="row">
            <div class="col-sm-9" style="width:80%;left: 40px; ">
                <div class="blog-post-area">
                    <h2 class="title text-center">{{ headline.0|upper }}</h2>
                    <!-- posts -->
                    {% for post in posts %}
                        <div class="single-blog-post">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title|upper }}</a></h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i>{{ post.creator }}</li>
                                    <li><i class="fa fa-clock-o"></i> {{ post.time }}</li>
                                    <li><i class="fa fa-calendar"></i> {{ post.date }}</li>
                                </ul>
                            </div>
                            <div>
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.poster.url }}" alt="{{ headline.1|upper }}">
                                </a>
                            </div>
                            <p>{{ post.description|safe|truncatewords:120 }}</p>
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">{{ headline.1|lower }}</a>
                        </div>
                        <br>
                        <br>
                    {% endfor %}
                    <!-- /posts -->

                    <!-- pagination -->
                    <div class="pagination-area">
                        <ul class="pagination">
                            {% for num_page in paginator.page_range %}
                                {% if page_obj.number == num_page %}
                                    <li><a href="?page={{ num_page }}" class="active">{{ num_page }}</a></li>
                                {% elif num_page|add:"2" >= page_obj.number and num_page|add:"-2" <= page_obj.number %}
                                    <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                                {% elif num_page|add:"-3" == page_obj.number %}
                                    <li><a href="?page={{ paginator.num_pages }}"><i
                                            class="fa fa-angle-double-right"></i></a></li>
                                {% elif num_page|add:"3" == page_obj.number %}
                                    <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}