{% extends './base.html' %}
{% load static %}
{% block title %} {{ single_post.title }} {% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">

                    <!--blog-post-area-->
                    <div class="blog-post-area">
                        <h2 class="title text-center">Latest From our Blog</h2>
                        <div class="single-blog-post">
                            <h3>{{ single_post.title }}</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i>{{ single_post.creator }}</li>
                                    <li><i class="fa fa-clock-o"></i>{{ single_post.time }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ single_post.date }}</li>
                                </ul>
                            </div>
                            <img src="{{ single_post.poster.url }}" alt="">
                            <p>
                                {{ single_post.description }}
                            </p>
                            <div class="pager-area">
                                <ul class="pager pull-right">
                                    <li><a href="{{ single_post.get_prev_absolute_url }}">Pre</a></li>
                                    <li><a href="{{ single_post.get_next_absolute_url }}">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--/blog-post-area-->

                    <!--Comments-->

                    <div class="response-area">
                        <h2>{{ count }} {{ responses|upper }}</h2>
                        <ul class="media-list">
                            {% for comment in comments %}
                                {% if comment.parent is None %}
                                    <li class="media">
                                        {% else %}
                                        {% if comment.parent.level == 0 %}
                                            <li class="media" style="margin-left: 4%;">
                                                {% elif comment.parent.level == 1 %}
                                            <li class="media" style="margin-left: 6%;">
                                                {% else %}
                                            <li class="media" style="margin-left: {{ comment.parent.level|add:8 }}%;">
                                        {% endif %}
                                {% endif %}
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{% static 'images/blog/man-two.jpg' %}" alt="">
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-user"></i>{{ comment.creator }}</li>
                                    <li><i class="fa fa-clock-o"></i>{{ comment.created|date:"G:i" }} PM</li>
                                    <li><i class="fa fa-calendar"></i>
                                        {{ comment.created|date:"d-F-Y" }}</li>
                                </ul>
                                <p>{{ comment.text }}</p>
                                <a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a>
                            </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <!--/Comments-->


                    <!--Repaly Box-->
                    {% if user.is_authenticated %}
                        <div class="replay-box">
                            <div><hr>
                    <form action="{% url 'single_post' single_post.id  %}" method="post" id="CommentForm">
                        {% csrf_token %}
                            <h2>Оставить комментарий:</h2>
                            <div>
                                <span>*</span>
                                {{ form.text }}
                                <br>
                                <br>
                                <button class="btn btn-default btn-primary pull-right" href="#formComment" type="submit" name="submit">
                                    Отправить
                                </button >
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}

                        <!--login-signup-->
                        <div class="replay-box">
                            <div class="row">
                                <h2 class="title text-center">
                                    <strong>Доступ к комментариям отключен не авторизованным пользователям,
                                        <a href="{% url 'login' %}"><u>войдите</u></a> или
                                        <a href="{% url 'signup' %}"><u>зарегистрируйтесь</u></a>
                                    </strong>
                                </h2>
                            </div>
                        </div>
                        <!--/login-signup-->
                    {% endif %}
                    <!--/Repaly Box-->


                </div>
            </div>
        </div>
    </section>


{% endblock content %}