{% extends 'pages/base.html' %}

{% load static i18n %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="container">

    <div class="container" >
    <!--search-->
    <div  style="float: left; display:flex;" >
    <form method="get" action="{% url 'search' %}" style=" display:flex;">
        <div class="search_box" style="margin-left: 10%; display:flex;" >
            <input name="s" type="text" placeholder="{% trans 'Поиск по новостям' %}..."/>
            <button type="submit" value="Search" class="btn btn-primary" style="margin:0px; margin-left:10px">{% trans 'Поиск' %}</button>
        </div>
    </form>
    </div>
    <!--/search-->

    <!--language-->
    <div style="float: right; margin-right: 18%; ">
        <form action="{% url 'set_language' %}" method="post" style="display:flex;">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">

            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
                <input type="submit" value="Translate" style="margin: 0px; margin-left: 10px"  class="btn btn-primary">
            </select>
        </form>
    </div>
    <!--/language-->

    </div>
        <div class="row">
            <div class="col-sm-9" style="width:80%;left: 40px; ">
                <div class="blog-post-area">
                    <h2 class="title text-center">{% trans 'Последнее из нашего блога' %}</h2>
                    <!-- posts -->
                    {% for post in posts %}
                        <div class="single-blog-post">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title|upper }}</a></h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i>{{ post.creator }}</li>
                                    <li><i class="fa fa-clock-o"></i> {{ post.time }}</li>
                                    <li><i class="fa fa-calendar"></i> {{ post.date }}</li>
                                </ul>
                            </div>
                            <div>
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.poster.url }}" alt="{{ headline.1|upper }}">
                                </a>
                            </div>
                            <p>{{ post.description|safe|truncatewords:120 }}</p>
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">{% trans 'Читать дальше' %}</a>
                        </div>
                        <br>
                        <br>
                    {% endfor %}
                    <!-- /posts -->

                    <!-- pagination -->
                    <div class="pagination-area">
                        <ul class="pagination">
                            {% for num_page in paginator.page_range %}
                                {% if page_obj.number == num_page %}
                                    <li><a href="?page={{ num_page }}" class="active">{{ num_page }}</a></li>
                                {% elif num_page|add:"2" >= page_obj.number and num_page|add:"-2" <= page_obj.number %}
                                    <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                                {% elif num_page|add:"-3" == page_obj.number %}
                                    <li><a href="?page={{ paginator.num_pages }}"><i
                                            class="fa fa-angle-double-right"></i></a></li>
                                {% elif num_page|add:"3" == page_obj.number %}
                                    <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /pagination -->

                </div>
            </div>
        </div>
    </div>

{% endblock content %}