{% extends 'pages/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

    <div id="contact-page" class="container">
        <div class="bg">

            <!--maps-->
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center"><strong>{{ headline.0|upper }}</strong></h2>
                    <div id="gmap" class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d742.1639596768281!2d-87.65280781186362!3d41.921754798694785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd31be6acea2f%3A0x386550d4ab3cf3e3!2s2199%20N%20Bissell%20St%2C%20Chicago%2C%20IL%2060614%2C%20USA!5e0!3m2!1sen!2sru!4v1640604816638!5m2!1sen!2sru"
                                height="100%" width="100%" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <!--/maps-->
            <div class="row">

                <!--contact-form-->
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">{{ headline.1|upper }}</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            {% csrf_token %}
                            <div class="form-group col-md-6"> {{ form.name }}</div>
                            <div class="form-group col-md-6"> {{ form.email }} </div>
                            <div class="form-group col-md-12"> {{ form.text }}</div>
                            <div class="form-group col-md-12">
                                <button type="submit" name="submit" class="btn btn-primary pull-right">
                                    SUBMIT
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/contact-form-->

                <!--contact-us-->
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">{{ headline.2|upper }}</h2>
                        <address>
                            {% for content in contact_info %}
                                <p>{{ content|safe }}</p>
                            {% endfor %}
                        </address>
                        <div class="social-networks">
                            <h2 class="title text-center">{{ headline.3|upper }}</h2>
                            <ul>
                                {% for social in social_networking %}
                                    <li>
                                        <a href="{{ social.1 }}"><i class="fa {{ social.0 }}"></i></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/contact-us-->

            </div>
        </div>
    </div>

{% endblock content %}