{% extends './base.html' %}
{% load static %}
{% block title %} checkout {% endblock title %}

{% block content %}
    <section id="cart_items">
        <div class="container">
            <!-- 1 -->
            <!--register-req-->
            <div class="register-req">
                <p> Пожалуйста, используйте "Регистрация и оформление заказа",
                    чтобы легко получить доступ к истории ваших заказов.</p>
            </div>
            <!--/register-req-->
            <!-- #form_delivery -->
            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-5 clearfix">

                        <div class="bill-to">
                            <p>Адрес доставки</p>

                            <div class="form-one">
                                <form action="{% url 'delivery' %}" method="post">

                                    {% csrf_token %}
                                    {{ form }}

                                    <button type="submit" class="form-one">Отправить</button>
                                </form>

                            </div>

                            <div class="form-two" action="{% url 'delivery' %}" method="post">
                                <!-- OTHER CONTENT -->
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>Shipping Order</p>
                            <textarea name="message" placeholder="Notes about your order, Special Notes for Delivery"
                                      rows="16"></textarea>
                            <label><input type="checkbox"> Shipping to bill address</label>
                        </div>
                    </div>

                </div>

            </div>

            <!-- /#form_delivery -->


            <!--#cart_title -->
            <div class="review-payment">
                <h2>Review & Payment</h2>
            </div>
            <!--/#cart_title -->
        </div>
        </div>
    </section>
{% include 'include/cart.html' %}

{% endblock content %}