{% extends 'pages/base.html' %}
{% load static cache %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

    {% cache 30 index_content %}

        {% include 'include/slider.html' %}

        <!--main-table-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 padding-right" style="width:100%;">
                        <div class="features_items">

                            {% include 'content/recommended_items.html' %}
                            {% include 'content/category_tab.html' %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/main-table-->
        <br>
        <br>

    {% endcache index_content %}

{% endblock content %}

