{% extends 'pages/base.html' %}
{% load static %}
{% block title %} История заказов {% endblock title %}

{% block content %}

    <!--order_detail-->
<div class="container">

        <!--address-->
        <div class="container">
            {% if orders %}
                 <div class="bill-to"><p>Статусы заказов:</p>
                {% for order in orders %}
                    <div>
                        <h3> Заказ №{{ order.id }}</h3>
                        <div class="register-req">
                            <p><span><b>Заказчик:</b> {{ order.user }}</span></p>
                            <p><span><b>Товары:</b> {% for item in order.get_products_names %} {{ item }}, {% endfor %}</span></p>
                            <p><span><b>Общая стоимость:</b> {{ order.total }}</span></p>
                            <p><span><b>Дата оформления:</b> {{ order.order_start }}</span></p>
                            <p><span><b>Статус:</b> {{ order.status }}</span></p>
                            <p><span><b>Статус исполнения:</b> {% if order.order_finish %} исполнен {% else %} ещё не исполнен {% endif %}</span></p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            {% else %}
                <h2 class="title text-center">
                    <strong>
                        Нет заказов в данный момент
                    </strong>
                </h2>
            {% endif %}
            <br>
            </div>
        </div>
    </div>

    <!--/order_detail-->

{% endblock content %}

