{% extends 'pages/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 padding-right">

                    <!--product-details-->
                    <div class="product-details">
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="{{ product_detail.icon.url }}" alt="Главное изображение"/>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- wrapper-for-slides -->
                                <div class="carousel-inner">
                                    {% for page in slider %}
                                        {% if page.number > 1 %}
                                            <div class="item carousel-inner">
                                        {% else %}
                                            <div class="item active carousel-inner">
                                        {% endif %}
                                    {% for image in page.object_list %}
                                        <a href="{{ image.image.url }}" target="_blank">
                                            <img src="{{ image.image.url }}" alt="{{ image.image.title }}" width="80"
                                                 height="100">
                                        </a>
                                    {% endfor %}
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <!-- /wrapper-for-slides--->

                                    <!-- Controls -->
                                    <a class="left item-control" href="#similar-product" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right item-control" href="#similar-product" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <!--/Controls -->

                                </div>
                            </div>
                            <div class="col-sm-7">
                                <!--/product-information-->
                                <div class="product-information">
                                    {% if product_detail.condition == 'N' %}
                                        <img src="{% static 'images/product-details/new.jpg' %}" class="newarrival"
                                             alt=""/>
                                    {% elif product_detail.condition == 'F' %}
                                        <img src="{% static 'images/product-details/fresh.png' %}" class="newarrival"
                                             alt=""/>
                                    {% else %}
                                        <img src="{% static 'images/product-details/hand.png' %}" class="newarrival"
                                             alt=""/>
                                    {% endif %}
                                    <h2>{{ product_detail.name }}</h2>
                                    <p>Web ID: {{ product_detail.product_public_ID }}</p>
                                    <img src="{% static 'images/product-details/rating.png' %}" alt=""/>
                                    <span>
									<span>US ${{ product_detail.price }}</span>
									<label>Quantity:</label>
									<input type="text" value="3"/>

                    <form method="post" action="{% url 'addCart' product_detail.id %}">
                    {% csrf_token %}
                    <button class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Add to cart</button></form>
{#									<button type="button" class="btn btn-fefault cart">#}
{#										<i class="fa fa-shopping-cart"></i>#}
{#										Add to cart#}
{#									</button>#}

								</span>
                                    <p><b>Category:</b>
                                        {{ product_detail.category.all | join:", " }}
                                    </p>
                                    <p><b>Condition:</b> {{ product_detail.get_condition_display|upper }}</p>
                                    <p><b>Brand:</b> {{ product_detail.brand }}</p>
                                    <a href=""><img
                                            src="{% static 'images/product-details/share.png" class="share img-responsive' %}"
                                            alt=""/></a>
                                </div>
                                <!--/product-information-->
                            </div>
                        </div>
                        <!--/product-details-->

                        {% if count == 0 %}
                            <div><p><b>Рецензий ещё нет!</b></p>
                        {% else %}
                            <div><p><b>{{ count }} Рецензий </b></p>
                        {% endif %}
                        <!--reviews-->
                        <hr>
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <!--review-detail-->
                                {% for review in reviews %}
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>{{ review.name }}</a></li>
                                        <li><a href=""><i class="fa fa-clock-o"></i>{{ review.update|date:"G:i" }}
                                            PM</a>
                                        </li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>{{ review.update|date:"d-F-Y" }}
                                        </a>
                                        </li>
                                    </ul>
                                    <p>{{ review.text }}</p>
                                    <br>
                                    <b>Rating: {{ review.grade }}</b>
                                    <img src="{% static 'images/product-details/rating.png' %}" alt=""/>
                                    <hr>
                                {% endfor %}
                                <!--/review-detail-->

                                <!--contact-form-->
                                <div>

                                    <div><p><b>Write Your Review</b></p>
                                        <!--form-->
                                        <form action="{% url 'product_detail' product_detail.id %}" method="post">
                                            {% csrf_token %}
                                            <span>{{ form.name }}{{ form.email }}</span>
                                            <span>{{ form.text }}</span>
                                            <span>{{ form.g }}</span>
                                            <span>{{ form.captcha }}</span>

                                            <b>Rating: </b> <img src="{% static 'images/product-details/rating.png' %}"
                                                                 alt="Review from"/>
                                            <button class="btn btn-default pull-right" type="submit" name="submit">
                                                Submit
                                            </button>
                                        </form>
                                        <!--/form-->
                                    </div>
                                </div>
                                <br><br><br>
                            </div>
                            <!--/contact-form-->
                            <br>
                            <br>
                            <br>
                        </div>
                        </div>
                        </div>
                    </div>
                    <!--/reviews-->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}



