{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Профиль {% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="row">

            <div class="col-md-3">
                <div class="card card-body">
                    <a class="btn btn-primary" href="{% url 'home' %}"> &#8592; Back to Home</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-body">
                    {% if request.user.customer.avatar|length == 0 %}
                        Аватар отсутствует
                    {% else %}
                        <img class="profile-pic"
                             style="max-width: 200px; max-height:200px; margin: 0 auto; border-radius: 50%;"
                             src="{{ request.user.customer.avatar.url }}" alt="avatar">
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit">
                    </form>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}
