{% extends './base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

    <!--main image-->
    <section id="advertisement">
        <div class="container">
            <img src="{% static 'images/shop/advertisement.jpg' %}" alt=""/>
        </div>
    </section>
    <!--/main image-->

    <section>
        <div class="container">
            <div class="row">

                <!--left-panel-->
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>


                        {% include 'left_panel/category_product.html' %}
                        {% include 'left_panel/category_brand.html' %}
                        {% include 'left_panel/category_price.html' %}


                        {% include 'left_panel/shipping.html' %}
                    </div>
                </div>
                <!--/left-panel-->

                <!--main-table-->
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        {% include 'content/features_items.html' %}
                    </div>
                </div>
                <!--/main-table-->

            </div>
        </div>
    </section>
{% endblock content %}