{% extends 'pages/base.html' %}
{% load static cache %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}

    <!--main image-->
    <section id="advertisement">
        <div class="container">
            <img src="{% static 'images/shop/advertisement.jpg' %}" alt="advertisement"/>
        </div>
    </section>
    <!--/main image-->

    <section>
        <div class="container">
            <div class="row">

                <!--left-panel-->
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Категории</h2>
                        <form action="{% url 'json_filter' %}" method="get" name="filter">
                            {% cache 30 left_panel %}
                            {% include 'left_panel/category_product.html' %}
                            {% include 'left_panel/category_brand.html' %}
                            {# {% include 'left_panel/category_price.html' %}#}
                            {% endcache left_panel %}
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary"
                                    style="display: block; margin: 0 auto; height:40px; width:180px; font-size: 145%">
                                Применить
                            </button>

                        </form>
                        <br>
                        <!--shipping-->
                        <div>
                            <div class="shipping text-center">
                                <img src="{% static 'images/home/shipping.jpg' %}" alt="rating"/>
                            </div>
                        </div>
                        <!--/shipping-->

                    </div>
                </div>
                <!--/left-panel-->

                <!--main-table-->
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        {% include 'content/features_items.html' %}
                    </div>
                </div>
                <!--/main-table-->

            </div>
        </div>
    </section>
{% endblock content %}