{% load static %}
<div class="category-tab">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">

            {% for category in categories %}
                {% if category == categories|first %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
            <a href="#{{ category.id }}" data-toggle="tab">{{ category.name }}</a></li>
            {% endfor %}

        </ul>
    </div>

    <!--RECOMMENDED head-->
    <div class="tab-content">
        {% for category in categories %}
            {% if category == categories|first %}
                <div class="tab-pane fade active in" id="{{ category.id }}">
            {% else %}
                <div class="tab-pane fade in" id="{{ category.id }}">
            {% endif %}

        <!--category_tab-->
        {% for item in category.card_product_set.all|slice:":4" %}
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{ item.icon.url }}" alt="{{ item.name }}"/>
                            <h2>${{ item.price }}</h2>
                            <p><a href="{{ item.get_absolute_url }}"> {{ item.name }}</a></p>

                            <!-- add to card -->

                     <form method="post" action="{% url 'addCart' item.id %}">
                    {% csrf_token %}
                    <button  class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Add to cart</button></form>
{#                            <a href="#" class="btn btn-default add-to-cart">#}
{#                                <i class="fa fa-shopping-cart"></i>Add to cart</a>#}

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--/category_tab-->

        </div>
        {% endfor %}

        <!--/RECOMMENDED head-->
        </div>
    </div>
</div>
<!--/category-tab-->