{% load static %}
{% load content_tags %}

<!--category-tab-->
<div class="category-tab">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">

            {% get_categories as categories %}
            {% for category in categories %}
                <li><a href="{{ category }}" data-toggle="tab">{{ category }}</a></li>
            {% endfor %}
            {#class="active"#}
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade active in">

            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{ product.icon.url }}" alt=""/>
                            <h2>{{ product.price }}</h2>
                            loremloremloremloremloremlorem
                            <p>{{ product.name }}</p>
                            <a href="#" class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--/category-tab-->