{% load static float_tags %}
<!--features-items-->
<h2 class="title text-center">Features Items</h2>

<div class="ajax">
    <div class="row-scripts">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="../products/{{ product.id }}" target="_blank">
                                {% if product.image %}
                                    <img src="../media/{{ product.image }}" alt="{{ product.name }}"/></a>
                                {% else %}
                                    <b style="color:red"> Изображение не загружено</b>
                                {% endif %}
                            <h2>${{ product.price|formatted_float }}</h2>
                            <p><a href="../products/{{ product.id }}" target="_blank"> {{ product.name }}</a></p>
                            <div style="margin-right: 20px;">
                                <a href="../products/{{ product.id }}" target="_blank">
                                    <button class="btn btn-fefault cart"><i class="fa fa-arrow-circle-right">
                                    </i> Подробнее о продукте
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div>
                            <img src="../../static/images/home/{{ product.condition }}.png" class="new" alt="status-new"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
<!--features-items-->