{% load static mail_tags %}

<!--Footer-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            </div>
        </div>
    </div>
    <!--footer-widget-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
{#                        <h2>Service</h2>#}
                        <h2>Покупателям</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <!--Footer column 1-->
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
{#                        <h2>Quock Shop</h2>#}
                        <h2>Партнерам</h2>
                        <ul class="nav nav-pills nav-stacked">

                            <!--Footer column 2-->
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
{#                        <h2>Policies</h2>#}
                        <h2>Компания</h2>
                        <ul class="nav nav-pills nav-stacked">

                            <!--Footer column 3-->
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
{#                        <h2>About Shopper</h2>#}
                        <h2>Мы в соцсетях</h2>
                        <ul class="nav nav-pills nav-stacked">

                            <!--Footer column 4-->
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>
                            <li><a href="#">Lorem Ipsum dolor</a></li>

                        </ul>
                    </div>
                </div>
                {% mail_form %}
            </div>
        </div>
    </div>
    <!--/footer-widget-->

    <!--footer-bottom-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>
    <!--/footer-bottom-->

</footer>
<!--/Footer-->