<!--brands-products-->
<div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            {% for brand in view.get_brands %}
                <div style="border-width: 0">

                    <li style="padding-bottom: 14px">
                        <input value="{{ brand.id }}" name="brand" type="checkbox"
                               style="margin-left:40px;transform: scale(1.6); padding: 10px;">
                        <span style="color:black;font-size: 100%;padding-left:10px;">  {{ brand.name }}
                    <span class="pull-right" style="margin-right:10px;color:black;font-size: 100%;">
                        ({{ brand.card_product_set.count }})</span> </span>
                    </li>

                </div>
            {% endfor %}
        </ul>
    </div>
</div>
<!--/brands-products-->