<!--brands-products-->
<div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            {% for brand in view.get_brands %}

                <li>
                    <input value="{{ brand.id }}" name="brand" type="checkbox" style="margin-left:40px;">
                    <span style="color:black;padding-left:10px;">  {{ brand.name }}
                    <span class="pull-right" style="margin-right:10px;">
                        ({{ brand.card_product_set.count }})</span>
                    </span>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>
<!--/brands-products-->