<!--category-products-->
<div class="panel-group category-products" id="accordian">
    <div class="panel panel-default"></div>

    {% for category in view.get_categories %}
        <div class="panel panel-default">
            <div class="panel-heading">

                <li>
                    <input value="{{ category.id }}" name="category" type="checkbox">
                    <span style="color:black;padding-left:10px;">  {{ category.name }}</span>
                </li>

            </div>
        </div>
    {% endfor %}

</div>
<!--/category-products-->